# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
media/
staticfiles/

# Django Migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# PyCharm / VSCode
.vscode/
.idea/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Git
*.orig